<div class="content">
  <h2><%= @post.title.capitalize %></h2>

  <section class="body">
    <p><%= @post.body %></p>
  </section>
</div>

<div>
  <button class="edit-button" id="<%= "post_#{@post.id}" %>" type="button">Edit</button>
  <%= erb :'posts/_delete_button', :locals => { :post => @post } %>
  <span> Tags: <%= erb :_tags, :locals => {:post => @post} %></span>
</div>
